<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.money_meow">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moneymeow">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".account.login.LoginAction"></activity>
        <activity android:name=".account.signup.SignupAction"></activity>
        <activity android:name=".home.Home"></activity>
        <activity android:name=".information.Information"></activity>
        <activity android:name=".manageEngine.searchEngine.SearchEngine"></activity>
        <activity android:name=".transaction.TransactionAction"></activity>
        <activity android:name=".setting.Settings"></activity>
        <activity android:name=".setting.AccountSetting"></activity>
        <activity android:name=".manageEngine.statistic.StatisticsAction"></activity>
    </application>

</manifest>